// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$fuentePrincipal: 'Roboto', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;

// Colores
$primario: #000000;
$negro:black;
$azul:#14213D;
$amarillo:#FCA311;
$gris: #E5E5E5;
$blanco: #FFFFFF;


$separacion: 5rem;